APP_ENV=dev
APP_DEBUG=1
APP_SECRET=ChangeMeChangeMeChangeMe
APP_NAME=Symfony
APP_URL=http://localhost:1525
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DATABASE_URL="postgresql://user:password@127.0.0.1:1527/blog?serverVersion=16&charset=utf8"

MAILER_DSN=smtp://127.0.0.1:1025
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

# Kafka transport DSN (see App\Messenger\Transport\Kafka\KafkaTransportFactory)
MESSENGER_TRANSPORT_DSN="kafka://127.0.0.1:1529?topic=messages&group_id=blog&auto_offset_reset=earliest"

VAR_DUMPER_SERVER=127.0.0.1:9912
